###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

mainmenu "Make Project"

# Board Select menu
menu "Select MCU Board Menu"
    source "MCU-Board/Kconfig"
endmenu

###############################################################################