###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

# select Linker

config STM32F10x
bool "STM32F10x Linker"
default n

config STM32F407
bool "STM32F407 Linker"
default n

###############################################################################