###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config ARCH_M3
    bool "architecture Cortex-m3"
    default n

config ARCH_M4
    bool "architecture Cortex-m4"
    default n    

###############################################################################