###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

# GPIO
config H_HIVE_EDU_BOARD_SIMPLE_LED
    bool "select EduBoard M-Hive Simple LED"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

###############################################################################