###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

# GPIO
config H_HIVE_EDU_BOARD_SIMPLE_LED
    bool "select EduBoard M-Hive Simple LED"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_SIMPLE_UART
    bool "select EduBoard M-Hive Simple UART Communication"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_SIMPLE_UART_PRINTF
    bool "select EduBoard M-Hive Simple UART PRINTF"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_UART_RECEIVE_INTERRUPT
    bool "select EduBoard M-Hive UART Receive Interrupt"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_CHARACTER_LCD_OUTPUT
    bool "select EduBoard M-Hive Character LCD Write"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_TIME_TIMER
    bool "select EduBoard M-Hive TIM Timer LED Toggle"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_TIME_TIMER_SEG
    bool "select EduBoard M-Hive TIM Timer Segment Count"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_EXTI_INPUT
    bool "select EduBoard M-Hive EXTI GPIO Input"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

###############################################################################