###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

# GPIO
config H_HIVE_EDU_BOARD_SIMPLE_LED
    bool "select EduBoard M-Hive Simple LED"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_SIMPLE_UART
    bool "select EduBoard M-Hive Simple UART Communication"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_SIMPLE_UART_PRINTF
    bool "select EduBoard M-Hive Simple UART PRINTF"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_UART_RECEIVE_INTERRUPT
    bool "select EduBoard M-Hive UART Receive Interrupt"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_CHARACTER_LCD_OUTPUT
    bool "select EduBoard M-Hive Character LCD Write"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_TIME_TIMER
    bool "select EduBoard M-Hive TIM Timer LED Toggle"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_TIME_TIMER_SEG
    bool "select EduBoard M-Hive TIM Timer Segment Count"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_EXTI_INPUT
    bool "select EduBoard M-Hive EXTI GPIO Input"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_PWM_BASIC
    bool "select EduBoard M-Hive PWM Basic Pulse Width"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_PWM_SERVO_MOTOR
    bool "Select EduBoard M-Hive PWM SERVO90 Motor Operator"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_PWM_BUZZER
    bool "Select EduBoard M-Hive PWM Passive Buzzer"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_PWM_MOTOR
    bool "Select EduBoard M-Hive PWM DC Motor -> BA6208 Motor Driver"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_PWM_REPEAT_CYCLE
    bool "Select EduBoard M-Hive PWM repeat cycle -> safe change pre scaler"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_ADC_WITH_DMA
    bool "Select EduBoard M-Hive ADC with DMA"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_DAC
    bool "Select EduBoard M-Hive DAC Sin pulse out"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

config H_HIVE_EDU_BOARD_I2C_EEPROM
    bool "Select EduBoard M-Hive I2C EEPROM"
    default n
    select ARCH_M4
    select HAL_DRIVER
    select M_HIVE_EDU_BOARD

###############################################################################